<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="DATASOURCE_JNDI">DoctorVera</entry>
    <entry key="LANGUAGE">ru</entry>
    <entry key="COUNTRY">RU</entry>
    <entry key="PROJECT_NAME">DoctorVeraCloud</entry>
    <entry key="SUPER_ADMIN_ID">1</entry>
    <entry key="USERS_BREAK_ID">2</entry>
    <entry key="METHOD_BREAK_ID">1</entry>
    <entry key="SUPER_ADMIN_USER_GROUP_ID">1</entry>
    <entry key="DOCTORS_USER_GROUP_ID">4</entry>
    <entry key="PATIENTS_USER_GROUP_ID">2</entry>
    <entry key="ASSISTANTS_USER_GROUP_ID">2</entry>
    <entry key="SERVICE_USER_GROUP_ID">2</entry>
    <entry key="JOINS_AND_CONDITIONS">JOINS_AND_CONDITIONS</entry>

    <!-- Message Delivery System (MDS) properties-->
    <entry key="MDS_MAXIMUM_LATIN_SYMBOLS_IN_SMS">175</entry>
    <entry key="MDS_MAXIMUM_CYRILLIC_SYMBOLS_IN_SMS">100</entry>
    <entry key="SMTP_SERVER">smtp.gmail.com</entry>
    <entry key="SMTP_PORT">587</entry>
    <entry key="SMTP_AUTH">true</entry>
    <entry key="SMTP_STARTTLS">true</entry>
    <entry key="SMTP_SSL">false</entry>
    <entry key="SMTP_LOGIN">v.bodnar85@gmail.com</entry>
    <entry key="SMTP_PASSWORD">nenimdada6215891</entry>
    <entry key="EMAIL_FROM">v.bodnar85@gmail.com</entry>
    <entry key="EMAIL_MESSAGE_TEMPLATE_FOR_SCHEDULE">1</entry>
    <entry key="SMS_MESSAGE_TEMPLATE_FOR_SCHEDULE">1</entry>

</properties>