<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="DATASOURCE_JNDI">DoctorVera</entry>
    <entry key="LANGUAGE">ru</entry>
    <entry key="COUNTRY">RU</entry>
    <entry key="PROJECT_NAME">DoctorVeraCloud</entry>
    <entry key="SUPER_ADMIN_ID">1</entry>
    <entry key="SUPER_ADMIN_USER_GROUP_ID">1</entry>
    <entry key="DOCTORS_USER_GROUP_ID">4</entry>
    <entry key="PATIENTS_USER_GROUP_ID">2</entry>
    <entry key="JOINS_AND_CONDITIONS">JOINS_AND_CONDITIONS</entry>
</properties>