@CHARSET "UTF-8";
 /* ---------- Header ---------- */
.headerCenter{
	background:URL('/DoctorVeraCloud-web/resources/images/header_background.png');
	background-size: 100%;

}

#headerEast{
	padding:auto;
	margin:0;

}

.headerCenter .ui-widget-content{
	background:none;
	padding-left:30px;
}

.userProfilePanel .ui-widget-content {
	color: white;
}

.userProfilePanel a{
	color: gold;
}

.userProfilePanel a:HOVER{
	color: white;
}

.userProfilePanel img{
	border-radius: 5px;
}

.userProfilePanel tr,
.userProfilePanel td {
    border: none !important;
    padding:0;
	margin:0;
	text-align: center;
}
 /* ---------- Profile ----------*/

.avatarGrid{
	text-align: center;
	width:100%;
}
.avatarGrid .ui-fileupload-buttonbar{
	background:none;
	border:none;
}
.avatarGrid .ui-fileupload-content {
    display: none;
}
.profileDetailsGrid{
	width:100%;
}
.profileDetailsGrid .ui-panelgrid-cell td {
	padding:10px !important;
}
.profileDetailsGridColumn{
	border:1px solid #a8a8a8;
	padding:10px;
}
.profileDetailsGrid .firstColumn{
	width:200px;
}
.profileDetailsGrid .secondColumn{
	width:380px;
}
.clear{
	clear:both;
}
.ui-widget, .ui-widget .ui-widget {
font-size: 100% !important;
}
