@CHARSET "UTF-8";
 /* ---------- Header ---------- */
.headerCenter{
	background:URL('/resources/images/header_background.png');
	background-size: 100%;

}

#headerEast{
	padding:auto;
	margin:0;
	z-index: -1 !important;
}

.headerCenter .ui-widget-content{
	background:none;
	padding-left:30px;
}

.headerCenter .ui-layout-unit-header-title{
	display: none;
}
.headerCenter .ui-layout-unit-header{
	background: none;
	border: 0px;
}
.headerCenter .ui-panel{
	border:0px;
	overflow: hidden;
}

.headerCenter .west{
	width:49%;
	overflow: hidden;
	width-min:400px;
	height: 120px;
	float: right;
	border: 1px solid gold;
	border-radius: 5px;
}

.headerCenter .east{
	height: 120px;
	overflow: hidden;
	width:50%;
	float: left;
	border:1px solid yellow;
	border-radius: 5px;
}
.headerCenter .west-inner{
	float: right;
}
.headerCenter .east img{
	margin-left:30px;
	margin-bottom: 20px;
}
.header-inner{
	width: 100%;
}

.userProfilePanel .ui-widget-content {
	color: white;
}

.userProfilePanel a{
	color: gold;
}

.userProfilePanel a:HOVER{
	color: white;
}

.userProfilePanel img{
	border-radius: 5px;
}

.userProfilePanel tr,
.userProfilePanel td {
    border: none !important;
    padding:0;
	margin:0;
	text-align: center;
}
.pageTitle{
	/*color:#327e04;*/
	color:gold;
	font-size: 200%;
	/*margin-left:25%;*/
	float:left;
	padding-left:10%;
	padding-top:65px;
	margin:0px;
}
 /* ---------- Profile ----------*/

.avatarGrid{
	text-align: center;
	width:100%;
}
.avatarGrid .ui-fileupload-buttonbar,
.settingsTemplatesGrid .ui-fileupload-buttonbar{
	background:none;
	border:none;
}
.avatarGrid .ui-fileupload-content,
.settingsTemplatesGrid .ui-fileupload-content {
    display: none;
}

.settingsTemplatesGrid .ui-fileupload{
	float: left;
}
.profileDetailsGrid{
	width:100%;
}
.profileDetailsGrid .ui-panelgrid-cell td {
	padding:10px !important;
}
.profileDetailsGridColumn{
	border:1px solid #a8a8a8;
	padding:10px;
}
.profileDetailsGrid .firstColumn{
	width:200px;
}
.profileDetailsGrid .secondColumn{
	width:380px;
}
.clear{
	clear:both;
}
.ui-widget, .ui-widget .ui-widget {
font-size: 100% !important;
}

 /* ---------- Register User ----------*/
.registerForm td:FIRST-CHILD {
	width:20%;
}
.registerForm tr:nth-child(2){
	width:30%;
} 

.usersTable .calendarFilter input{
	width:50%;
}
.usersTable{
	height: 95%;
}

.planCalendar{
	padding:0 !important;
	margin:0 !important;
	width:95%;
	font-size: 95%;
}

.mySelectOneMenu {
	width: 300px !important;
}
.myButton{
	width: 300px !important;
}
.mySpinner .ui-spinner-input{
	width: 300px !important;
}
.myTextField .ui-inputfield{
	width: 300px !important;
}
.paymentsForm td:FIRST-CHILD {
	width:20%;
}
.paymentsForm tr:nth-child(2){
	width:30%;
} 
.outcome td{
	background-color: gold;
}

/*---------- Schedule page ----------*/
#scheduleForm textarea,
#scheduleForm input{
    width:400px !important;
}

#scheduleForm .ui-selectonemenu{
	width:378px !important;
}
.breakSlider{
	width:410px !important;
}
input.ui-picklist-filter,
div.ui-picklist-caption,
ul.ui-picklist-list
{
	width:280px !important;
}
#scheduleForm input.ui-picklist-filter,
#scheduleForm div.ui-picklist-caption,
#scheduleForm ul.ui-picklist-list
{
    width:177px !important;
}

.fc-plan {
	opacity: 0.5;
}

.fc-schedule{
	left:0% !important;
}
.ui-menu{
	width: 15em !important;
}
#mainPageForm\:dashboard,
#mainPageForm\:dashboard .ui-dashboard-column{
	width: 100%;
}
#scheduleForm .fc-time-grid .ui-widget-header,
#planForm .fc-time-grid .ui-widget-header {
	display: none !important;
}
#scheduleForm  .fc-time-grid-container,
#planForm .fc-time-grid-container{
	height: 100% !important;
}

.ui-selectonemenu-panel.hideDisabled .ui-selectonemenu-item.ui-state-disabled {
	display: none;
}
#planForm .ui-tooltip, #scheduleForm .ui-tooltip{
	position: fixed;
}

input, textarea {
	width: 100%;
}
.calendarFilter input, .idFilter{
	width:80% !important;
}
.oldSchedulerRow{
	color: lightgray;
}
.futureSchedulerRow{
	color: gold;
}

.settingsFileNameLabel{
	float: left;
	margin-top: 9px;
	margin-left: 5px;
	margin-right: 5px;
}
.fa-fw {
	text-align: center;
	color: gray;
	font-size: 60%;
	padding-left:2px;
	padding-right:2px;
	position:relative;
	top:4px;
}

.dv-menu-item{
	display: none !important;
}

.ui-selectoneradio .ui-state-active{
	background: none !important;
	background-color: #459e00 !important;
}

.ui-selectoneradio .ui-state-default{
	background: none !important;
	background-color: #fafaf4 !important;
}
.transaction_row_completed td{
	background-color: #bdf27e;
}
.transaction_row_uncompleted td{
	background-color: gold;
}
.transaction_row_error td{
	background-color: orangered;
}
.redButton{
	border:1px solid #df0909 !important;
	background-color: #f62b2b !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202)) !important;
	background-image: -webkit-linear-gradient(top, #f62b2b, #d20202) !important;
	background-image: -moz-linear-gradient(top, #f62b2b, #d20202) !important;
	background-image: -ms-linear-gradient(top, #f62b2b, #d20202) !important;
	background-image: -o-linear-gradient(top, #f62b2b, #d20202) !important;
	background-image: linear-gradient(to bottom, #f62b2b, #d20202) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202) !important;
}

.redButton:hover {
	border: 1px solid #b30808 !important;
	background-color: #e40a0a !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202)) !important;
	background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202) !important;
	background-image: -moz-linear-gradient(top, #e40a0a, #9f0202) !important;
	background-image: -ms-linear-gradient(top, #e40a0a, #9f0202) !important;
	background-image: -o-linear-gradient(top, #e40a0a, #9f0202) !important;
	background-image: linear-gradient(to bottom, #e40a0a, #9f0202); !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e40a0a, endColorstr=#9f0202) !important;
}